body {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.line {
    width: 90px;
    background-color: #2b4074;
    border: 3px solid #2b4074;
}

.button {
    width: 12em;
    height: 3em;
}

header {
    position: relative;
    width: 100%;
    min-height: 100px;
    background-color: #2b4074;
}

#digi {
    position: absolute;
    width: 100px;
    left: 3%;
    top: 0.8em;
}

#bgMenu {
    position: absolute;
    top: 2em;
    right: 6%;
    width: 2.6em;
    height: 2.6em;
    background-color: white;
}

#bgMenu a {
    width: 13px;
    position: absolute;
    left: 14px;
    top: 13px;
}

#bgIntro {
    position: relative;
    width: 100%;
    min-height: 668px;
    background-image: url(../images/Group_3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.introLine {
    display: none;
    background-color: #4a4a4a;
    border: 3px solid #fff;
    position: absolute;
}

#introTitle {
    max-width: 6em;
    font-size: 5em;
    text-align: center;
}

#introText {
    min-height: 2em;
    /*max-width: 40em;*/
    font-size: 1em;
}

#bgIntro .button {
    color: #2b4074;
    background-color: white;
    border-radius: 2px;
    border-color: white;
}

#bgIntro .button:hover {
    color: white;
    background-color: #2b4074;
}

#back,
#forward {
    position: absolute;
    height: 4.4em;
    width: 4.4em;
    right: 0px;
    border-radius: 1px;
    color: #252525;
}

#back {
    top: 16.5em;
    background-color: #2b4074;
    border-color: #2b4074;
}

#forward {
    top: 20.9em;
    background-color: #fff;
    background-color: #fff;
}

#back div,
#forward div {
    width: 1em;
    height: 1em;
    border: solid;
    margin: 1.5em;
    position: absolute;
}

#back div {
    border-color: #252525 #2b4074 #2b4074 #252525;
    transform: rotate(-45deg);
}

#forward div {
    border-color: #252525 #252525 #fff #fff;
    transform: rotate(45deg);
}

#back p,
#forward p {
    margin-top: 20px;
}

#bgPromo {
    position: relative;
    min-height: 192px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #2b4074;
}

#textPromo {
    color: white;
    width: 60%;
    font-size: 1em;
}

#bgPromo button {
    color: #2b4074;
    background-color: white;
    border-color: white;
    border-radius: 2px;
    margin: 3em;
}

#bgPromo button:hover {
    color: white;
    background-color: #2b4074;
}

#bgServises {
    position: relative;
    width: 100%;
    min-height: 546px;
    display: grid;
    grid-template-columns: 35% 65%;
}

#content {
    margin: auto;
    padding: 20px;
}

#content h1 {
    color: #2b4076;
}

.servisesLine {
    margin: auto 0;
}

#items {
    width: 100%;
    min-height: 546px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #4a4a4a;
    margin: auto;
}

.item {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
}

.hiden {
    display: none;
}

.item:hover {
    border: solid #2b4074;
    /* background-color: #2b4074; */
}

.item:hover .hiden {
    display: block;
}


#bgRecentWork {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 618px;
    /*background-image: url(../images/mask.svg);*/
    background: linear-gradient(180deg, #2b4074 0%, rgba(43, 64, 116, 0) 100%);
    color: #4a4a4a;
}

#recentTitle {
    color: #fff;
}

.recentWorkLine {
    background-color: #fff;
    border: 3px solid #fff;
}

#portfolios {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.portfolio {
    position: relative;
    color: #2b4074;
    text-align: center;
}

.portfolio img {
    border-radius: 4px;
}

.bgInfo {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    border-radius: 4px;
    background-color: #fff;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgInfo a {
    margin: 3%;
}

.bgInfo img {
    margin: 10px;
}

.portfolio:hover .bgInfo {
    opacity: 0.7;
}

#bgVideoBlock {
    position: relative;
    width: 100%;
    min-height: 580px;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
}

.video {
    margin: auto;
    border-radius: 4px;
}

.video img {
    width: 95%;
    margin: auto;
    border-radius: 4px;
}

.videoInfo {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: flex-start; */
    margin: 30px auto;
}

.videoBlockLine {
    margin-left: 0;
}

.videoInfo h1 {
    font-size: 2em;
    color: #4a4a4a;
}

.videoInfo p {
    color: #9B9B9B;
}

.videoInfo button {
    color: #fff;
    background-color: #2b4074;
    border: solid #2b4074;
}

.videoInfo button:hover {
    color: #2b4074;
    background-color: #fff;
    border: solid #2b4074;
}

#bgLatestNews {
    position: relative;
    width: 100%;
    min-height: 1044px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.title {
    color: #4a4a4a;
}

.allNews {
    width: 80%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.news {
    position: relative;
    color: #4a4a4a;
    text-align: center;
    width: 90%;
}

.news img {
    width: 100%;
}

.newsTitle {
    position: absolute;
    bottom: 0px;
    margin: 4px 0px;
    width: 100%;
    background-color: #fff;
}

.news:hover img {
    border: 10px solid #2b4074;
    border-radius: 2px;
}

.news:hover .newsTitle {
    margin: 25px 0px;
    background-color: #2b4074;
    color: #fff;
}

.testimonial {
    position: relative;
    width: 100%;
    height: 480px;
    color: #4a4a4a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blockquote {
    max-width: 720px;
    text-align: center;
    font-size: 1.5em;
}

.blockquote p {
    font-size: 0.8em;
}

.testimonial strong {
    color: #2b4074;
}

footer {
    position: relative;
    width: 100%;
    min-height: 728px;
    background-color: #2b4074;
    color: #fff;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer a {
    color: white;
}

.watchbutton {
    position: absolute;
    width: 230px;
    height: 60px;
    top: -30px;
    right: calc(50% - 115px);
    background-color: #2b4074;
    left: auto;
    background-image: url(../images/Group_2_1.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.text,
.widgets,
.social {
    width: 80%;
    height: 20%;
    margin: 0 10%;
    box-sizing: border-box;
}

.text {
    position: relative;
    font-size: 1.5em;
}

.widgets,
.social {
    /*
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    box-sizing: border-box;
}

.social div,
.widgets div {
    display: block;
    padding: 10px;
}

.social div {
    /*width: 25%;*/
    min-height: 63px;
    border: solid #7ebf84;
    border-right: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.social img {
    width: 150%;
}

.social div:first-child {
    border-left: none;
}

.widgets {

}

.copyright {
    position: absolute;
    width: 100%;
    max-height: 42px;
    bottom: 0px;
    background-color: #fff;
    color: #2b4074;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1em;
}

.copyright a {
    color: #2b4074;
    display: flex;
    align-items: center;
}

#up {
    width: 14px;
    height: 14px;
    border: solid;
    border-color: #2b4074 #2b4074 #fff #fff;
    transform: rotate(-45deg);
    margin: 25px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */

@media screen and (max-width: 1200px) {
    #bgServises {
        display: block;
    }

    #content {
        max-width: 80%;
        margin: 0 10%;
    }

}

@media screen and (max-width: 800px) {

    .widgets {
        grid-template-columns: repeat(2, 1fr);
    }

    #items {
        grid-template-columns: repeat(2, 1fr);
    }

    #items {
        height: 1092px;
    }
}

@media screen and (max-width: 640px) {

    body {
        text-align: center;
    }

    #introTitle {
        font-size: 3em;
    }

    #introText {
        display: none;
    }

    .introLine {
        display: block;
    }

    #bgPromo {
        font-size: 1em;
        text-align: center;
    }

    #content {
        width: 80%;
        text-align: center;
    }

    .line {
        width: 100px;
        margin: auto auto 10px;
    }

    .container {
        width: 90%;
    }

    .portfolio img {
        width: 100%;
    }

    .video img {
        width: 80%;
        margin: 10%;
    }

    .videoInfo {
        width: 80%;
        align-items: center;
    }

    .widgets div {
        width: 100%;
        text-align: center;
    }

}

@media screen and (max-width:440px) {

    #introTitle{
        font-size: 2em;
    }

    button {
        font-size: 0.6em;
    }

    #back,
    #forward {
        display: none;
    }

    #items {
        grid-template-columns: repeat(1, 1fr);
    }

    .watchbutton {
        width: 140px;
        height: 40px;
        top: -20px;
        right: calc(50% - 70px);
        background-size: 100% 100%;
    }

    .widgets div,
    .social div {
        border: none;
        margin: auto;
    }

    .widgets,
    .social {
        display: block;
        font-size: 1.5em;
    }

    .copyright{
        justify-content: center;
    }
    .copyright a {
        display: block;
        position: absolute;
        top: 10px;
    }

}
